#container{
    text-align: center;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(136, 136, 136);
}
button{
    margin: 10px;
    font-size: 2em;
    border: none;
    border-radius: 10px;
    background-color: rgb(104, 155, 238);
    cursor: pointer;
}
input{
    font-size: 2em;
}
#result{
    font-size: 1.5em;
}