#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(208, 77%, 58%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
input{
    font-size: 2rem;
    width: 150px;
    font-weight: bold;
    text-align: center;
}
#diceReult{
    margin: 24px;
}
#diceImages img{
        width: 150px;
        margin: 10px;
}